<%- include('./partials/header.ejs') %> <%- include('./partials/navbar.ejs') %>
        <div class="px-8 py-6">
            <h2 class="text-lg font-semibold text-sm my-2">You're editing a Hisaab of <span class="text-blue-800"><%= filename.split('.')[0] %></span> date</h2>
            <form action="/update/<%= filename %>" class="flex flex-col w-96 gap-2" method="post">
                <textarea
                    class="w-full h-64 px-3 py-2 rounded-lg border-2 border-zinc-300 resize-none outline-none text-sm text-zinc-600"
                    name="filedata" placeholder="Daal, aata etc."><%= data %></textarea>
                <input type="submit" href="" class="w-32 px-2 py-2 rounded-lg bg-blue-500 text-white text-sm text-center" value="Update Hisaab" />
            </form>
        </div>
        <%- include('./partials/footer.ejs') %>